div.social_connect_ui img {
  border: 0px;
  height: 32px;
  width: 32px;
}

img#social_connect_comment_via_provider  {
  width: 16px;
  height: 16px;
}

img.social_connect_already_connected_logo {
  float:left; 
  padding-right: 10px;
}
div.social_connect_already_connected_form {
  display:none;
}
